[Desktop Entry]
Version=1.0
Type=Application
Name=G13 Logitech OPS
GenericName=Logitech G13 Driver
Comment=Python userspace driver for Logitech G13 Gaming Keyboard
Exec=/home/arete/projects/G13LogitechOPS/g13-ops-launcher.sh
Icon=/home/arete/projects/G13LogitechOPS/g13-ops.svg
Terminal=true
Categories=System;Utility;Settings;
Keywords=logitech;g13;gaming;keyboard;driver;macro;
StartupNotify=true
